@model List<kursa4.Models.CartItem>
@{
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>

@if (!Model.Any())
{
    <p>Ваша корзина пуста.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Модель</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Laptop?.Model</td>
                <td>@item.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
}