    <h1>Все ноутбуки</h1>
<h3>@Model.currCategory</h3>
@{
    foreach (var laptop in Model.allLaptops)
    {
        <div>
            <h2>Модель: @laptop.Model</h2>
            <p>Цена: @laptop.Price.ToString("c")</p>
        </div>
    }
}