@{
    ViewData["Title"] = "Заказ оформлен";
}

<div class="alert alert-success mt-4">
    <h4 class="alert-heading">Спасибо за заказ!</h4>
    <p>Ваш заказ успешно оформлен. Мы свяжемся с вами для подтверждения.</p>
    <hr />
    <a class="btn btn-primary" href="/">На главную</a>
</div>