@{
    ViewData["Title"] = "О приложении";
}

<h2>@ViewData["Title"]</h2>

<p>
    Это веб-приложение позволяет пользователям выбирать ноутбуки, добавлять их в корзину, оформлять заказы и производить оплату.  
</p>
<ul>
    <li>Функциональность корзины</li>
    <li>Система заказов и оплаты</li>
    <li>Аутентификация пользователей</li>
    <li>Панель администратора</li>
</ul>